<div class="center hero-unit">
  <h1>Test Appe</h1>
    
  <h2>  
      Testing this app
      <a href="http://www.bbc.co.uk">Link to BeBeCee...</a>ya get me!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
Powered by...<p>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>